<div class="class">
    <h1>Renderização de Listas ====================================</h1>
    <h2>Lista de Familias</h2>
    <button class="btn-preto" routerLink="/novo">novo</button>
    
    <!--O OBJETO CHEGA DO .TS COMO "FAMILIAS", E É FEITO UM FOREACH PARA GERAR UM HTML DINAMICO-->
        <div class="tabela" *ngFor="let familia of familias">
             Nome:{{familia.nomeFamilia}}
            - Criado em: {{ familia.dataCriacao | date : 'dd/MM/yyyy' }}
            - Situacao: {{ familia.ativo }}
            <button class="btn-branco" (click)="showAge(familia)">Detalhes</button>
            <button class="btn-branco" (click)="removeFamilia(familia)">Excluir</button>
            <button class="btn-preto" routerLink="/list/{{ familia.idFamilia }}" >Editar</button>
        </div>

    <h3>{{ familiaDetails }}</h3>

</div>