* {
    margin: 0;
}

body{
    margin: 0;
    font-family: "noto-sans-monospace", "sans-serif";
}

.class {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #201b2c;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabeca {
    align-items: center;
    border-style: solid;
    border-radius: 15px 0px 15px 0px;
    border-width: 1px;
    background-color:#77ffc0;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.164);
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    margin-top: 10px;
    width: 80vw;
}

.container {
    margin-top: 20px;
    width: 80vw;
}

.linha {
    align-items: center;
    background-color: #2f2841;
    border-radius: 15px 0px 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3px;
    width: 100%;
    color: white;
}

.coluna {
    margin-left: 10px;
    width: 25%;
    color: white;
}

.coluna > h1 {
    font-size: 20px;
    margin-bottom: 3px;
    color: white;
}

.coluna > h2 {
    color: white;
}

.coluna > input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-style: solid;
    border-radius: 6px;
    font-size: 23px;
    margin-top: 3px;
    margin-bottom: 6px;
    width: 85%;

}

.coluna > input:disabled {
    color: black;
    border-style: none;
}

.coluna > select {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    font-size: 23px;
    color: white;
}

.coluna > img {
    width: 40px;
    margin-left: 40px;
    cursor: pointer;
}

#btn-concluir {
    cursor: pointer;
}

#novaDiv {
    display: none;
}


@media only screen and (max-width: 960px) {
    .container {
        width: 100%;
    }

    .coluna > img {
        margin-left: 20px;
    }

    header {
        width: 100%;
    }

}

@media only screen and (max-width: 600px){
    .container {
        display: flex;
        flex-direction: column;
    }

    .linha {
        display: flex;
        flex-direction: column;
    }

    .coluna {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .col-1 {
        margin-top: 10px;
    }

    .col-2 {
        margin-top: 10px;
    }

    .col-3 {
        margin-top: 10px;
    }

    .col-4 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 0px 30px 10px 0px; 
    }
}


