<div class="class">

    <div class="cabeca">
        <h1>Lista</h1>
    </div>

<div class="corpo">
    
    <span class="botao-adicionar" (click)="mostrarFamilia()">
        <img src="../../../assets/botao-adicionar.png" alt="">
        <label for="adiconar">Adiconar</label>
    </span>

    <div class="container">

        <!-- nova familia -->
        <div class="linha" *ngIf="novaFamilia">
            <div class="coluna col-1">
                <h1>nome</h1>
                <input type="text" id="input-nova-familia" value="">
            </div>
    
            <div class="coluna col-2">
                <h1>criado em:</h1>
                <input type="date" id="input-data-criada" value="">
            </div>
    
            <div class="coluna col-3">
                <h1>situação</h1>
                <select id="input-situacao-nova">
                    <option value="1">Ativo</option>
                    <option value="0">Inativo</option>
                </select>
            </div>
            
            <div class="coluna col-4">
                <img id="btn-concluir" src="../../../assets/concluir.png" alt="" onclick="novaFamiliaSalvar()">
                <img src="../../../assets/excluir.png" alt="" onclick="cancelarFamilia()">
            </div>
    
        </div>
        <!-- fim -->


        <!-- tera um for each -->
        <div *ngFor="let familia of familias">
            <div class="linha">

                <div class="coluna col-1">
                    <h1>Nome</h1>
                    <input disabled value='{{familia.nomeFamilia}}'>
                </div>
        
                <div class="coluna col-2">
                    <h1>Criado em:</h1>
                    <input disabled value="{{ familia.dataCriacao | date:'dd-MM-yyyy' }}">
                </div>
        
                <div class="coluna col-3">
                    <h1>Situação</h1>
                    <select disabled name="situacao" id="">
                        <option value="1">Ativo</option>
                        <option value="0">Inativo</option>
                    </select>
                </div>
                
                <div class="coluna col-4">
                    <!-- <img src="../../../assets/botao-adicionar.png" onclick="novaFamilia()"> -->


                    <img id="obterId" src="../../../assets/editar.png" onclick="">


                    <img src="../../../assets/excluir.png">


                </div>
        
            </div>
        </div>
        <!-- fim do for each -->


    </div>


    


</div>

  

    




















<!--


    <h1>Renderização de Listas ====================================</h1>
    <h2>Lista de Familias</h2>
    <button class="btn-preto" routerLink="/novo">novo</button>
    
    
        <div class="tabela" *ngFor="let familia of familias">
             Nome:{{familia.nomeFamilia}}
            - Criado em: {{ familia.dataCriacao | date : 'dd/MM/yyyy' }}
            - Situacao: {{ familia.ativo }}
            <button class="btn-branco" (click)="showAge(familia)">Detalhes</button>
            <button class="btn-branco" (click)="removeFamilia(familia)">Excluir</button>
            <button class="btn-preto" routerLink="/list/{{ familia.idFamilia }}" >Editar</button>
        </div>

    <h3>{{ familiaDetails }}</h3> 
-->


</div>

    
    

