h1{
    color: gray;
    font-size: 40px;
    margin: 15px;
}

input{
    font-size: 20px;
    margin: 10px;
}

select{
    font-size: 20px;
    margin: 10px;
}

.btn-branco{
    background-color:aliceblue;
    color: black;
    border-radius: 4px;
    margin: 2px;
    border-width: 1px;
    width: 70px;
    height: 30px;
}

.btn-branco:hover{
    background-color: black;
    color: white;
}

.btn-preto{
    background-color:black;
    color: white;
    border-radius: 4px;
    margin: 2px;
    border-width: 1px;
    width: 70px;
    height: 30px;
}

.btn-preto:hover{
    background-color: white;
    color: black;
}