<div class="container-body">

    <header>
        
        <div class="coluna col-1">
            <button>Home</button>
            <button>Linkdin</button>
            <button>Estilo</button>
        </div>

        <div class="coluna col-2">
            <img id="icone-angular" src="../../../assets/angular.png" alt="logo angular">
            <img id="icone-html5" src="../../../assets/html5.png" alt="">
            <img id="icone-css" src="../../../assets/css3.png" alt="">
            <img id="icone-js" src="../../../assets/js.svg" alt="">
            <img id="icone-csharp" src="../../../assets/cSharp.png" alt="">        
        </div>

        <div class="coluna col-3">
            <div class="div-procura">
                <p>Procurar</p> 
                <input type="text" placeholder="">
                <img src="../../../assets/procurar.png" alt="">
            </div>
        </div>
    </header>

    <main>

        <div class="lado-direito">

            <div class="div-titulo">
                <h1>MACKSON  </h1>
                <h2>ROBERTO</h2>
            </div>
    
            <div class="div-sub-titulo">
                <h1>Desenvolvedor</h1>
            </div>
    
            <div class="div-botao">
                <button id="btn-projetos" class="btn">Projetos</button>
                <button id="btn-sobre" classe="btn">Sobre</button>
            </div>

        </div>


    </main>
</div>
