
<div class="class">
   <h1>Bem vindo ao Angular</h1>
   <p>
      Esse projeto mostra de forma muito simples a integração do angular com C# por meio de API.
      Onde são executados dois projetos.
   </p>
   <ul>
      <li>Projeto em C#, formando uma API RestFull com os metodos:
         <ul>
            <li>Create: Criar uma nova "familia".</li>
            <li>Delete: Deletar uma "familia" já existente que tenha o id igual ao da requisição.</li>
            <li>Update: Atualizr o registro de uma "familia" já existente.</li>
            <li>Getall: Retornar todas as "familias" existente.</li>
            <li>GetById: Retorna a "familia" que tenha o mesmo id da requisição.</li>
         </ul>
      </li>
   </ul>
   <ul>
      <li>Projeto em Angular, realizando requisições para API conforme é necessitado pelo usuario</li>
   </ul>
   <p>
      Geralmente as ações no angular, não geram "Reload" da pagina e sim a "Renderização" do(s) componente(es),
      isso gera o aumento na performance.
   </p>
</div>
